body {
  background-color: orange;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 36px;
  padding-right: 300px;
}

.navbar-nav {
  font-size: 24px;
}

.navbar {
  background-color: whitesmoke;
}

.hide {
  display: none;
}

#searchbar {
  width: 700px;
}

h1 {
  width: 100%;
}

.glyphicon-search {
  background-color: lightgrey;
  height: 32px;
  padding: 10px;
}

#search-input {
  width: 50%;
}